<h2>Perlは中学一年生の英語がわかれば読める - 自然言語の採用</h2>

Perlには、myやuseといったPerlは中学一年生の英語がわかれば読める言葉で記述されます。

Perlの作者ラリー・ウォールは、ソフトウェアの研究者や技術者ではなく、実は言語学者です。

Perlは、言語学者によって作られたプログラミング言語で、自然言語をプログラミング言語に取り入れています。

<h3>自然言語を取り入れて、ノンプラグラマーも使えるように</h3>

Perlは、自然言語を取り入れることで、ノンプログラマーにも、プログラミングの敷居が低くなるようにという配慮があります。

小学校や中学校でプログラミングを学び始めるとき、書かれている言葉は、英語です。

ただでさえ、英語が苦手なのに、大学で学ぶような知らない言葉がたくさん。そうなると、さらにプログラミングに苦手意識を感じてしまいます。

Perlというプログラミング言語は、中学1年生の英語力で読めるように、キーワードが選択されています。

<pre>
# 机を使う
use Desk;

# 私の果物
my $fruit = 'Apple';

# 私たちの家
our $HOME = '/home/kimoto';

# 「こんにちは」をプリントする
print "Hello World";
</pre>

距離を置いていたプログラミング言語に、親しみを感じることができますね。

<h3>あなたが紙に書いた計算が、そのまま動く</h3>

Perlは、動的な型を採用しているプログラミング言語で、あなたが紙に書いた計算が、そのまま動きます。

<pre>
my $total = 1 + 3;
</pre>

もちろんこれは、他の言語でもそのまま動きますよ。

でもPerlはさらに一歩進めて、紙に書いたもの、つまりテキストに書いたものがそのまま動きます。

プログラムに1と3を、渡してみましょう。以下のように書きます。

<pre>
perl total.pl 1 3
</pre>

Perlを使って、1と3を合計すると読めますね。

テキストの数字を受け取って、型変換なしで、そのまま計算できます。

<pre>
my ($num1, $num2) = @ARGV;

my $total = $num1 + $num2;
</pre>

<h3>Perlは、日常世界で自然言語を使う人にとっても使いやすい用に設計された</h3>

Perlは、私たちが親しんでいる言葉や、ペンを使って紙に計算を書くといったような日常の表現を、プログラミング言語に取り入れようとした、初めての言語です。

これは、Perlの作者ラリー・ウォールが言語学者であったということに、起因しています。

もし、ソフトウェア研究者であれば、ソフトウェア研究者の言葉で、プログラミング言語を設計したことでしょう。

Perlは「日常世界で自然言語を使う人にとっても使いやすい用に設計された」という点が、初めてプログラミングを学ぶ人に、Perlをお勧めできる理由のひとつです。
