<h2>PerlがC言語から受け継いだもの - PerlとC言語の比較を通して理解する</h2>

PerlとC言語の比較を通して、PerlがC言語から受け継いだものを解説します。Perlの文法の特徴は、C言語から受け継いだものが多くあります。

Perlのif文による条件分岐やfor文、while文による繰り返しなどの制御構文はC言語の文法とよく似ています。インクリメント/デクリメント、演算子の種類、演算子の優先順位、スコープ、参照概念などもC言語とよく似ています。

<ul>
  <li><a href="/blog/20190926072429.html">Perlのif文はC言語のif文に似ている</a></li>
  <li><a href="/blog/20190925080555.html">Perlのfor文は、C言語のfor文と、同一の文法</a></li>
  <li><a href="/blog/20191001073128.html">Perlのwhile文は、C言語のwhile文と、同一の文法</a></li>
  <li><a href="/blog/20190920082045.html">Perlのインクリメント/デクリメントの動作はC言語と同じ</a></li>
  <li><a href="/blog/20191001075312.html">Perlの演算子とC言語の演算子は、種類が似ていて、優先順位が同じ</a></li>
  <li><a href="/blog/20191002073518.html">Perlは単独のスコープがC言語と同じように使える</a></li>
  <li><a href="/blog/20191002075550.html">Perlのリファレンスの機能は、C言語のポインタの機能と似ている</a></li>
</ul>
