<h2>Perlのwhile文は、C言語のwhile文と、同一の文法</h2>

Perlのwhile文は、C言語のwhile文と、同一の文法です。Perlのwhile文とC言語のwhile文を比べてみましょう。

<h4>Perlのwhile文</h4>

Perlのwhile文です。

<pre>
# Perlのwhile文
my $i = 0;
while ($i < 10) {
  
  # 処理
  
  $i++;
}
</pre>

<h4>C言語のwhile文</h4>

C言語のwhile文です。

<pre>
// C言語のwhile文(C99対応)
int32_t i = 0;
while (i < 10) {
  // 処理
  
  i++;
}
</pre>

<h4>Perlのwhile文とC言語のwhile文の比較</h4>

Perlのwhile文とC言語のwhile文の比較を比較してみましょう。「()」「{}」の使い方など文法が同じですね。サンプルでは、ループ変数の宣言を宣言して、while文の末尾でループ変数をインクリメントしています。

<h3>C言語のwhile文で繰り返しを覚えたらPerlで、その文法と概念をそのまま使える</h3>

C言語のwhile文で繰り返しを覚えたらPerlで、その文法と概念をそのまま使えます。C言語で覚えた知識を、Perlでそのまま使うことができます。

PerlはC言語のwhile文の構文をそのまま取り入れています。

Perlは動的型を持つプログラミング言語ですが、動的型であることを除いて、C言語のwhile文の文法とそっくりです。

Perlは、Unix/Linux環境とC言語を学んだユーザーにとって、そこで学んだ概念をそのまま使えるので、学習コストが低く、同じ概念を使って、プログラミングができるように設計されているのですね。

C言語に対して過度な批判をせずに、当初から親和性・協調性を目指したというのが、Perlの素敵な特徴の一つです。

<h3>PerlとC言語の他の類似点</h3>

この記事では、Perlのwhile文がC言語のwhile文と似ているということを書きましたが、Perlのif文、for文、インクリメント/デクリメント、演算子の種類と優先順位もC言語の文法と似ています。

<ul>
  <li><a href="/blog/20190926072429.html">Perlのif文はC言語のif文に似ている</a></li>
  <li><a href="/blog/20190925080555.html">Perlのfor文は、C言語のfor文と、同一の文法</a></li>
  <li><a href="/blog/20190920082045.html">Perlのインクリメント/デクリメントの動作はC言語と同じ</a></li>
  <li><a href="/blog/20191001075312.html">Perlの演算子とC言語の演算子は、種類が似ていて、優先順位が同じ</a></li>
</ul>
