<h2>Perlの起動速度はピカイチ</h2>

プログラミング言語の中でも、Perlの起動速度は、ピカイチ。ソースコードの量が増えてきても、修正した後、プログラムを実行するときの起動は一瞬です。

<h3>Perlの起動速度が速い理由</h3>

Perlの起動速度が速い理由は、抽象構文木を生成した後、抽象構文木のまま、ある程度の最適化が行われ、実行されるからです。

他の言語では、たとえば、抽象構文木を作った後、さらに、バイトコードに変換されます。この処理は、実際には、気になるほどに、遅くはありませんが、Perlと比較すると、解析量が多くなっています。

また、静的言語のように、実行速度を徹底的に最適化するためには、さらなる解析が必要になります。

Perlは、コード量が増えてきても、ソースコードの修正とプログラムの起動の繰り返しを気持ちよく行えます。

<h3>実行速度に影響がでるのではありませんか?</h3>

はい、実行速度に影響がでます。特に、バイトコードに変換される場合と比べて、スループットは、低下します。Perlは、スループットを最大限に必要とする処理には、向いていません。ただし、サーバーによる分散化や、マルチプロセスなど、スケーリングする方法があるため、実務では、それほど問題にはなりません。

一方で、テキスト処理や、Webアプリケーションのパフォーマンスは、良いです。繰り返し大量に文字列が処理される場面を想定して、Perlが最適化されているためです。
