<h2>Amazon AWSでPerl人工知能ライブラリ AI::MXNetが採用されているのをご存じでしたか?</h2>

Amazon AWSでPerl人工知能ライブラリ AI::MXNetが採用されているのをご存じでしたか? AI::MXNetが公式にサポートされています。

<a href="https://deeplearning.perlzemi.com/blog/20201118093000.html">Perlのディープラーニングのライブラリ - AI::MXNet</a>

<blockquote>
MXNetはAmazon AWSにおける公式サポートがあります。

柔軟性と選択肢

MXNetでは、C++、JavaScript、Python、R、Matlab、Julia、Scala、Clojure、<b>Perl</b> といったプログラミング言語が幅広くサポートされているため、自分のすでに知っている言語で開始することができます。ただし、バックエンドではすべてのコードが C++ にコンパイルされるため、モデル構築に使用された言語にかかわりなく最大限のパフォーマンスを発揮できます。
</blockquote>

AI::MXNetは、C++で書かれたMXNetをPerlにバインディングしたものです。

C++ライブラリ「MXNet」を<a href="https://bind.perlzemi.com/">Perlにバインディング</a>したものが採用されているといった方がより正確です。
