<h2>Microsoft Windowsのデフォルト機能だけでPerlを実行できることをご存じでしたか?</h2>

Microsoft Windows上のデフォルト機能だけでPerlを実行できることをご存じでしたか?

現在のMicrosoft Windowsにはデフォルト機能として<a href="https://docs.microsoft.com/en-us/windows/wsl/install">WSL 2</a>という機能があります。

WSL 2上では、<a href="https://ubuntu.perlzemi.com/">Ubuntu</a>という<a href="https://linux.perlzemi.com/">Linux</a>ディストリビューションがデフォルトとして採用されています。

Ubuntuのデフォルト構成には、perlが含まれています。

その結果、Microsoft Windowsのデフォルト機能だけでPerlを実行できます。

<ul>
  <li><a href="https://perlzemi.com/blog/20220418170733.html">WSL 2を使ってPerlを実行</a></li>
</ul>
