<h2>Amazon Linux 2でPerlが長期サポートで採用されているのをご存じでしたか?</h2>

Amazon Linux 2でPerlが長期サポートで採用されているのをご存じでしたか?

<a href="https://aws.amazon.com/jp/amazon-linux-2/faqs/">長期サポート - Amazon Linux 2 に関するよくある質問</a>

<blockquote>
Q:Amazon Linux 2 の長期サポートには何が含まれていますか?

Amazon Linux 2 の長期サポートは主要なパッケージにのみ適用され、以下の内容を含んでいます。

1) AWS では 2024 年 6 月 30 日まで、すべての主要なパッケージのセキュリティ更新とバグ修正を提供します。

2) AWS では、以下の主要なパッケージに対して、ユーザー空間のアプリケーションバイナリインターフェイス (ABI) の互換性を維持します。

elfutils-libelf、glibc、glibc-utils、hesiod、krb5-libs、libgcc、libgomp、libstdc++、libtbb.so、libtbbmalloc.so、libtbbmalloc_proxy.so、libusb、libxml2、libxslt、pam、audit-libs、audit-libs-python、bzip2-libs、c-ares、clutter、cups-libs、cyrus-sasl-gssapi、cyrus-sasl-lib、cyrus-sasl-md5、dbus-glib、dbus-libs、elfutils-libs、expat、fuse-libs、glib2、gmp、gnutls、httpd、libICE、libSM、libX11、libXau、libXaw、libXext、libXft、libXi、libXinerama、libXpm、libXrandr、libXrender、libXt、libXtst、libacl、libaio、libatomic、libattr、libblkid、libcap-ng、libdb、libdb-cxx、libgudev1、libhugetlbfs、libnotify、libpfm、libsmbclient、libtalloc、libtdb、libtevent、libusb、libuuid、ncurses-libs、nss、nss-sysinit、numactl、openssl、p11-kit、papi、pcre、<b>perl</b>、<b>perl-Digest-SHA</b>、<b>perl-Time-Piece</b>、<b>perl-libs</b>、popt、python、python-libs、readline、realmd、ruby、scl-utils、sqlite、systemd-libs、systemtap、tcl、tcp_wrappers-libs、xz-libs、zlib
</blockquote>
