<h2>Microsoft Windows Server DatacenterでPerlが採用されているのをご存じでしたか?</h2>

Microsoft Windows Server DatacenterでPerlが採用されているのをご存じでしたか? Github Actionでは、PerlのWindowsディストリビューションである、<a href="https://perlzemi.com/blog/20180808153368.html">Strawberry Perl</a>を使うことができます。

<h3>Microsoft Windows Server 2022 Datacenter</h3>

<a href="https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md">Microsoft Windows Server 2022 Datacenter</a>

<pre>
Language and Runtime

Bash 4.4.23(1)-release
Go 1.17.11
Julia 1.7.3
Kotlin 1.7.10
LLVM 14.0.6
Node 16.16.0
Perl 5.32.1
PHP 8.1.8
Python 3.9.13
Ruby 3.0.4p208
</pre>

<h3>Microsoft Windows Server 2019 Datacenter</h3>

<a href="https://github.com/actions/virtual-environments/blob/main/images/win/Windows2019-Readme.md">Microsoft Windows Server 2019 Datacenter</a>

<pre>
Language and Runtime

Bash 4.4.23(1)-release
Go 1.17.12
Julia 1.7.3
Kotlin 1.7.10
LLVM 14.0.6
Node 16.16.0
Perl 5.32.1
PHP 8.1.8
Python 3.7.9
Ruby 2.5.9p229
</pre>
