<h2>Perlの哲学 - Perlに対する誤解を解きたい</h2>

Perlってどんなプログラミング言語なの。Perlに対する純粋な疑問に答えます。

<h3>Perlってどんなことが得意なの?</h3>

<h3>Perlってどんなプログラミング言語?</h3>

<h4>Perlはどんな言語を参考にしているの?</h4>

<ul>
  <li><a href="/blog/20190920082045.html">Perlのインクリメント/デクリメントの動作はC言語と同じ</a></li>
  <li><a href="/blog/20190925080555.html">Perlのfor文は、C言語のfor文と、同一の文法</a></li>
  <li><a href="/blog/20190924071341.html">Perlの正規表現はsedの表現を取り入れたもの</a></li>
</ul>

Perlは、どんな特徴を持つプログラミング言語なのでしょうか。

<ul>
  <li><a href="/blog/20190919070918.html">Perlは値と参照を明確に区別する</a>
</ul>

<h3>Perlに対する誤解に答える</h3>

Perlは、非常に誤解されている言語です。

率直で、誠実な、学生、研究者、エンジニア、Web製作者、開発マネージャー、経営者の皆様と、誤解され続けているPerlユーザーのために、Perlの誤解を解くコンテンツを書いていきます。

<ul>
  <li><a href="/blog/20190911130832.html">やり方は一つじゃない - TMTOWTDI</a>
  <li><a href="/blog/20190918081634.html">PerlでもマルチCPUを最大限に活用できる</a>
</ul>
